{% extends 'base.html.twig' %}

{% block title %}Alta Nuevo Subsidio{% endblock %}

{% block body %}
    <h1>Alta Nuevo Subsidio</h1>

    {{ include('cabecera/_form.html.twig') }}

    <a href="{{ path('cabecera_index') }}">Volver</a>
{% endblock %}
