{% extends 'content_base.html.twig' %}

{% block title %}Alta Pago Punta Caja{% endblock %}

{% block content_body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Alta Pago Punta Caja</h5>
            <div class="row col-12 mt-2">
                <a type="button" role="button" class="mb-2 btn btn-sm btn-secondary"
                   href="{{ path('punta_caja_pago_index') }}">Volver</a>
            </div>

            {{ include('punta_caja_pago/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
