{% extends 'content_base.html.twig' %}

{% block title %}Edit Requisito{% endblock %}

{% block content_body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Editar Subsidio</h5>
        <div class="row col-12 mt-2">
            <a type="button" role="button" class="mb-2 btn btn-sm btn-secondary"
               href="{{ path('requisito_index') }}">Volver</a>
        </div>

        {{ include('requisito/_form.html.twig', {'button_label': 'Actualizar'}) }}

        {{ include('requisito/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
