{% extends 'establecimiento_base.html.twig' %}

{% block title %}Gestion de Establecimientos{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Gestion de establecimientos</h1>
        </div>
    </div>
{% endblock %}
